<div class="row">
  <div class="col-md-12">
    Search Room
  </div>
  <div class="col-md-5">
    <app-room-list (roomSelected)="selectedRoom = $event"></app-room-list>
  </div>
  <div class="col-md-7">
    <app-room-detail [selectedRoom]="selectedRoom"></app-room-detail>
  </div>
</div>
