<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRoom?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRoom?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">Reservations</button>
    <button class="btn btn-primary">Book it!</button>
    <button class="btn btn-danger">Cancel</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRoom?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Datos
  </div>
</div>
