<a href="#" class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{room.name | cutText}}</h4>
    <p class="list-group-item-text">{{room.type}}</p>
    <p class="list-group-item-text">{{room.price}}</p>
    <p class="list-group-item-text">{{room.description}}</p>
  </div>
  <span class="pull-right">
      <img class="img-responsive"
           src="{{room.imagePath}}"
           style="max-height: 100px;"/>
  </span>
</a>
