<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-room-item *ngFor="let room of rooms"
                     [room]="room"
                     (click)="onSelected(room)"></app-room-item>
    </ul>
  </div>
</div>
